@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --color-green:hsl(75, 94%, 57%);
    --color-grey:hsl(0, 0%, 20%);
    --color-white:hsl(0, 0%, 100%);
    --color-darkgrey:hsl(0, 0%, 12%);
    --color-offblack:hsl(0, 0%, 8%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: var(--color-offblack);
}


/* - Mobile: 375px
- Desktop: 1440px */


.container{
    height: 100vh;
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__profile{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--color-darkgrey);
    border-radius: 0.6em;
    gap: 1em;
}

.card__user{
    gap: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 2em;
}

.card__picture__jess{
    border-radius: 50%;
    width: 4em;
}
.name__card{
    color: var(--color-white);
    font-weight: 500;
    font-size:20px;
}

.city{
    color: var(--color-green);
    font-size: 12px;
    font-weight: 600;
}

.info__card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.description__card{
    color: var(--color-white);
    font-size: 12px;
    padding-top: 1em;
}

.lista__items{
    padding-top: 1em;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.8em;
    height: 100%;
}

.link__card{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-grey);
    width: 230px;
    height: 40px;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 12px;
    transition: 0.3s;

}

.link__card:hover{
    background-color: var(--color-green);
}